<div class="container">
  <h1>Route Transitions Test</h1>
  <ul>
    <li>{{#link-to 'route-transitions.edit' 1 class='test-first-edit-form'}}ID 1{{/link-to}}</li>
    <li>{{#link-to 'route-transitions.edit' 2 class='test-second-edit-form'}}ID 2{{/link-to}}</li>
    <li>{{#link-to 'route-transitions.new' class='test-create-form'}}New{{/link-to}}</li>
  </ul>
  {{outlet}}
</div>
